<div ref:this class='now-playing'>
    {#if playing}
    <div class="cover-container">
        <img src={cover} alt='' />
    </div>
    <h1 ref:title>{title}</h1>
    <h2 ref:artist>{artist}</h2>
    {/if}
</div>

<style>
.now-playing {
    display: grid;
    grid-template: "cover title" 1fr
                   "cover artist" auto /
                   auto   1fr;
    width: 40rem;
    overflow: hidden;
    position: relative;
}
.cover-container {
    height: 8rem;
    width: 8rem;
    background: grey;
    overflow: hidden;
    grid-area: cover;
}
.cover-container img {
    max-width: 100%;
    max-height: 100%;
}
h1, h2 {
    background-color: rgba(0,0,0,0.5);
    color: white;
    margin: 0;
    padding: 0 1rem;
    white-space: nowrap;
    align-self: end;
    justify-self: start;
    transform-origin: bottom left;
    text-shadow:
         0    1px 1px black
         1px  0   1px black
         0   -1px 1px black
        -1px  0   1px black
        ;
}
h1 {
    grid-area: title;
}
h2 {
    grid-area: artist;
}
</style>

<script>

    function fit(outer_bounds, inner_bounds){
        if(inner_bounds.right > outer_bounds.right){
            let factor = (outer_bounds.right - inner_bounds.left) / (inner_bounds.right - inner_bounds.left);
            return `scalex(${factor})`;
        }
        return '';
    }

    export default {
        oncreate(){
            this.set({'playing': false});
            this.event_source = new EventSource('/stream');
            this.event_source.addEventListener('player',
                e => this.load(JSON.parse(e.data)));

            fetch('/playing').then(resp=>resp.json()).then(this.load.bind(this));
        },
        ondestroy(){
            this.event_source.close();
        },
        onupdate(_){
            const title = this.refs.title;
            const artist = this.refs.artist;
            const all = this.refs.this;
            if(!title || !artist){
                return;
            }
            title.style.transform = '';
            artist.style.transform = '';

            const title_bounds = title.getBoundingClientRect();
            const artist_bounds = artist.getBoundingClientRect();
            const all_bounds = all.getBoundingClientRect();

            title.style.transform = fit(all_bounds, title_bounds);
            artist.style.transform = fit(all_bounds, artist_bounds);


        },
        methods: {
            load(playing){
                console.log(playing);
                this.set({
                    title: playing.title,
                    artist: playing.artist,
                    cover: '/cover?cachebust=' + playing.id,
                    playing: playing.state == "play"
                });
            }
        }
    }
</script>
