<div bind:this={all_el} class='now-playing'>
    {#if playing}
    <div class="cover-container">
        <img src={cover} alt='' />
    </div>
    <h1 bind:this={title_el}>{title}</h1>
    <h2 bind:this={artist_el}>{artist}</h2>
    {/if}
</div>

<style>
.now-playing {
    display: grid;
    grid-template: "cover title" 1fr
                   "cover artist" auto /
                   auto   1fr;
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}
.cover-container {
    height: 8rem;
    width: 8rem;
    background: grey;
    overflow: hidden;
    grid-area: cover;
}
.cover-container img {
    max-width: 100%;
    max-height: 100%;
}
h1, h2 {
    background-color: rgba(0,0,0,0.5);
    color: white;
    margin: 0;
    padding: 0 1rem;
    white-space: nowrap;
    align-self: end;
    justify-self: start;
    transform-origin: bottom left;
    text-shadow:
         0    1px 1px black
         1px  0   1px black
         0   -1px 1px black
        -1px  0   1px black
        ;
}
h1 {
    grid-area: title;
}
h2 {
    grid-area: artist;
}
</style>

<script>
function fit(outer_bounds, inner_bounds){
    if(inner_bounds.right > outer_bounds.right){
        let factor = (outer_bounds.right - inner_bounds.left) / (inner_bounds.right - inner_bounds.left);
        return `scalex(${factor})`;
    }
    return '';
}

let title, artist, cover, playing;
let title_el, artist_el, all_el;

function load(state){
    console.log(state);
    title = state.title;
    artist= state.artist;
    cover= '/api/mpd/cover?cachebust=' + state.id;
    playing= state.state == "play";
}

playing = false;
let event_source = new EventSource('/api/mpd/stream');
event_source.addEventListener('player',
    e => load(JSON.parse(e.data)));

fetch('/api/mpd/playing').then(resp=>resp.json()).then(load);

import { afterUpdate } from 'svelte';
afterUpdate(() => {
    if(playing) {
        const title_bounds = title_el.getBoundingClientRect();
        const artist_bounds = artist_el.getBoundingClientRect();
        const all_bounds = all_el.getBoundingClientRect();

        title_el.style.transform = fit(all_bounds, title_bounds);
        artist_el.style.transform = fit(all_bounds, artist_bounds);
    }
});
</script>
